<ion-view view-title="Bienvenido vecino!">
  <ion-content>
	<form>
            <div class="spacer" style="width: 300px; height: 45px;"></div>
            <ion-list>
                <label class="item item-input" name="username">
                    <span class="input-label"></span>
                    <input type="text" placeholder="Usuario">
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label"></span>
                    <input type="password" placeholder="Contraseña">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-positive button-block ">Iniciar sesión</button>
        </form>
  </ion-content>
</ion-view>
